doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://www.google.com/jsapi")
    script(src="/angular/angular.js")
    script(src="/javascripts/chart.js")